{% load static %}
{% include "bakery/header.html" %}

<div class="generic-form">
    <h2>Complete Your Payment</h2>

    <form action="{% url 'checkout:initiate_payment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}">
        
        <label for="phone_number">Phone Number</label>
        <input 
            type="text" 
            name="phone_number" 
            placeholder="Enter your phone number" 
            value="{% if user.is_authenticated %}{{ user.profile.phone_number }}{% endif %}" 
            required>
        
        <label for="address">Address</label>
        <input 
            type="text" 
            name="address" 
            placeholder="Enter your address" 
            value="{% if user.is_authenticated %}{{ user.profile.address }}{% endif %}" 
            required>
        
        <p>Total Amount: Kshs. {{ total_price }}</p>
        <button type="submit" class="btn2">Proceed with M-Pesa Payment</button>
    </form>
</div>

{% include "bakery/footer.html" %}

