{% load static %}
{% include "bakery/header.html" %}

 <div class="banner">
   <p>WELCOME </p>
   <p>TO AMASDEN</p>
   <p>BAKERY</p>
  </div>


  <div class="container">
    <h1 class="tagline">Bestsellers in Our Bakery</h1>
  
    <div class="items-container">
      {% for product in bestsellers %}
        <div class="item">
          <div class="image-container">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
          </div>
          <div class="description">
            <p>{{ product.name }}</p>
            <p>{{ product.get_price_with_currency }}</p>
          </div>
          <div class="btnopt">
            <a href="{% url 'cake_template' slug=product.slug %}" class="btn1">Select Options</a>
          </div>
        </div>
      {% empty %}
        <p>No bestsellers available at the moment.</p>
      {% endfor %}
    </div>
  </div>

<div class="newsletter-container">
  <form action="{% url 'home' %}" method="post" class="newsletter-form">
    {% csrf_token %}
    <div class="subscribe-title">
      <h4>Subscribe to Our Newsletter</h4>
    </div>
    <div class="form-group">
      <label for="email" class="sr-only">Email address</label>
      {{ form.email }} 
      <button type="submit" class="btn2">Subscribe</button>
    </div>
  </form>
</div>



<div id="search-popup" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeSearchPopup()">&times;</span>
    <h2>Search Bakery Items</h2>
    <form method="get" action="{% url 'search_bakery_items' %}">
      <input type="text" id="search-input" name="q" placeholder="Search for items..." value="{{ query }}">
      <button type="submit">Search</button>
    </form>

    <!-- Display search results here -->
    {% if items %}
      <ul id="search-results">
        {% for item in items %}
          <li>{{ item.name }} - Kshs {{ item.price }}</li>
        {% empty %}
          <li>No items found.</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

<script>
  function SearchFunction() {
    document.getElementById('search-popup').style.display = "block";
  }

  function closeSearchPopup() {
    document.getElementById('search-popup').style.display = "none";
  }
</script>

{% include "bakery/footer.html" %}